<table class="scoreboard center ">
  <colgroup>
    <col id="scorerank" />
    <col id="scoreflags" />
    <col id="scoreteamname" />
  </colgroup>
  <colgroup>
    <col id="scoresolv" />
    <col id="scoretotal" />
  </colgroup>
  <colgroup>
    <col class="scoreprob" />
    <col class="scoreprob" />
    <col class="scoreprob" />
    <col class="scoreprob" />
    <col class="scoreprob" />
    <col class="scoreprob" />
    <col class="scoreprob" />
    <col class="scoreprob" />
    <col class="scoreprob" />
    <col class="scoreprob" />
    <col class="scoreprob" />
    <col class="scoreprob" />
  </colgroup>

  <thead>
    <tr class="scoreheader">
      <th title="rank" scope="col">rank</th>
      <th title="team name" scope="col" colspan="2">team</th>
      <th title="# solved / penalty time" colspan="2" scope="col">score</th>
      <th title="problem Architecture" scope="col">
        <a target="_self">
          A
          <div class="circle" style="background: #FFFFFF;"></div>
        </a>
      </th>
      <th title="problem Bracket Sequence" scope="col">
        <a target="_self">
          B
          <div class="circle" style="background: #FFFFFF;"></div>
        </a>
      </th>
      <th title="problem Canyon Crossings" scope="col">
        <a target="_self">
          C
          <div class="circle" style="background: #FFFFFF;"></div>
        </a>
      </th>
      <th title="problem Deceptive Dice" scope="col">
        <a target="_self">
          D
          <div class="circle" style="background: #FFFFFF;"></div>
        </a>
      </th>
      <th title="problem Exits in Excess" scope="col">
        <a target="_self">
          E
          <div class="circle" style="background: #FFFFFF;"></div>
        </a>
      </th>
      <th title="problem Floor Plan" scope="col">
        <a target="_self">
          F
          <div class="circle" style="background: #FFFFFF;"></div>
        </a>
      </th>
      <th title="problem Greetings!" scope="col">
        <a target="_self">
          G
          <div class="circle" style="background: #FFFFFF;"></div>
        </a>
      </th>
      <th title="problem Hexagonal Rooks" scope="col">
        <a target="_self">
          H
          <div class="circle" style="background: #FFFFFF;"></div>
        </a>
      </th>
      <th title="problem Inquiry I" scope="col">
        <a target="_self">
          I
          <div class="circle" style="background: #FFFFFF;"></div>
        </a>
      </th>
      <th title="problem Jumbled Journey" scope="col">
        <a target="_self">
          J
          <div class="circle" style="background: #F9FEAB;"></div>
        </a>
      </th>
      <th title="problem Knapsack Packing" scope="col">
        <a target="_self">
          K
          <div class="circle" style="background: #FFFFFF;"></div>
        </a>
      </th>
      <th title="problem Lifeguards" scope="col">
        <a target="_self">
          L
          <div class="circle" style="background: #FFFFFF;"></div>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="sortorderswitch" id="team:39">
      <td class="scorepl">
        1
      </td>
      <td class="scoreaf">
        <a>
          <img
            src="/assets/img/NLD.png"
            alt="Netherlands"
            title="Netherlands"
            class="countryflag"/>
          <span class="heart far fa-heart" onclick="toggle(1,true)"></span
        ></a>
      </td>
      <td class="scoretn cl_95ffff" title="git merge -s octopus solution">
        <a>
          <span class="forceWidth">
            git merge -s octopus solution
          </span>
          <span class="univ forceWidth">
            Leiden University
          </span>
        </a>
      </td>
      <td class="scorenc">12</td>
      <td class="scorett">1281</td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            44
            <span>
              3 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct score_first">
            48
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct score_first">
            202
            <span>
              4 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct score_first">
            59
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct score_first">
            79
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct score_first">
            30
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct score_first">
            6
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            170
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct score_first">
            12
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct score_first">
            214
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct score_first">
            102
            <span>
              3 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct score_first">
            155
            <span>
              2 tries
            </span>
          </div>
        </a>
      </td>
    </tr>

    <tr class="" id="team:47">
      <td class="scorepl">
        2
      </td>
      <td class="scoreaf">
        <span class="heart far fa-heart" onclick="toggle(2,true)"></span>
      </td>
      <td class="scoretn cl_95ffff" title="Rudy en Josse">
        <a>
          <span class="forceWidth">
            Rudy en Josse
          </span>
          <span class="univ forceWidth"> </span>
        </a>
      </td>
      <td class="scorenc">11</td>
      <td class="scorett">1629</td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            32
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            136
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            265
            <span>
              3 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            130
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            269
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            45
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            32
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct score_first">
            123
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            33
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            217
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_incorrect">
            &nbsp;
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            287
            <span>
              2 tries
            </span>
          </div>
        </a>
      </td>
    </tr>

    <tr class="" id="team:41">
      <td class="scorepl">
        3
      </td>
      <td class="scoreaf">
        <a>
          <img
            src="/assets/img/NLD.png"
            alt="Netherlands"
            title="Netherlands"
            class="countryflag"/>
          <span class="heart far fa-heart" onclick="toggle(3,true)"></span
        ></a>
      </td>
      <td class="scoretn cl_95ffff" title="Sudo Ku">
        <a>
          <span class="forceWidth">
            Sudo Ku
          </span>
          <span class="univ forceWidth">
            Leiden University
          </span>
        </a>
      </td>
      <td class="scorenc">9</td>
      <td class="scorett">1477</td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            79
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            133
            <span>
              2 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            108
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            127
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            22
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            276
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            165
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            248
            <span>
              2 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            259
            <span>
              2 tries
            </span>
          </div>
        </a>
      </td>
    </tr>

    <tr class="" id="team:42">
      <td class="scorepl">
        4
      </td>
      <td class="scoreaf">
        <a>
          <img
            src="/assets/img/NLD.png"
            alt="Netherlands"
            title="Netherlands"
            class="countryflag"/>
          <span class="heart far fa-heart" onclick="toggle(4,true)"></span
        ></a>
      </td>
      <td class="scoretn cl_95ffff" title="() { :;};  rm -rf /">
        <a>
          <span class="forceWidth">
            () { :;}; rm -rf /
          </span>
          <span class="univ forceWidth">
            Leiden University
          </span>
        </a>
      </td>
      <td class="scorenc">6</td>
      <td class="scorett">762</td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            50
            <span>
              3 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            55
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            168
            <span>
              3 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_incorrect">
            &nbsp;
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_incorrect">
            &nbsp;
            <span>
              6 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            9
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            290
            <span>
              3 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            70
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>
    </tr>

    <tr class="" id="team:37">
      <td class="scorepl">
        5
      </td>
      <td class="scoreaf">
        <a>
          <img
            src="/assets/img/NLD.png"
            alt="Netherlands"
            title="Netherlands"
            class="countryflag"/>
          <span class="heart far fa-heart" onclick="toggle(5,true)"></span
        ></a>
      </td>
      <td class="scoretn cl_95ffff" title="Team Python">
        <a>
          <span class="forceWidth">
            Team Python
          </span>
          <span class="univ forceWidth">
            Leiden University
          </span>
        </a>
      </td>
      <td class="scorenc">6</td>
      <td class="scorett">880</td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            61
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            213
            <span>
              5 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            188
            <span>
              3 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_incorrect">
            &nbsp;
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            157
            <span>
              2 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            31
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            90
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_incorrect">
            &nbsp;
            <span>
              6 tries
            </span>
          </div>
        </a>
      </td>
    </tr>

    <tr class="" id="team:46">
      <td class="scorepl">
        6
      </td>
      <td class="scoreaf">
        <a>
          <img
            src="/assets/img/NLD.png"
            alt="Netherlands"
            title="Netherlands"
            class="countryflag"/>
          <span class="heart far fa-heart" onclick="toggle(6,true)"></span
        ></a>
      </td>
      <td class="scoretn cl_95ffff" title="Aubergine">
        <a>
          <span class="forceWidth">
            Aubergine
          </span>
          <span class="univ forceWidth">
            Leiden University
          </span>
        </a>
      </td>
      <td class="scorenc">6</td>
      <td class="scorett">1243</td>

      <td class="score_cell">
        <a>
          <div class="score_correct score_first">
            19
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            214
            <span>
              4 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            287
            <span>
              3 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            262
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            109
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            232
            <span>
              2 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>
    </tr>

    <tr class="" id="team:40">
      <td class="scorepl">
        7
      </td>
      <td class="scoreaf">
        <a>
          <img
            src="/assets/img/NLD.png"
            alt="Netherlands"
            title="Netherlands"
            class="countryflag"/>
          <span class="heart far fa-heart" onclick="toggle(7,true)"></span
        ></a>
      </td>
      <td class="scoretn cl_95ffff" title="Zoeffff">
        <a>
          <span class="forceWidth">
            Zoeffff
          </span>
          <span class="univ forceWidth">
            Leiden University
          </span>
        </a>
      </td>
      <td class="scorenc">3</td>
      <td class="scorett">441</td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            28
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            183
            <span>
              6 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            130
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_incorrect">
            &nbsp;
            <span>
              6 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell">
        <a>
          <div class="score_incorrect">
            &nbsp;
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>
    </tr>

    <tr class="" id="team:38">
      <td class="scorepl">
        8
      </td>
      <td class="scoreaf">
        <a>
          <img
            src="/assets/img/NLD.png"
            alt="Netherlands"
            title="Netherlands"
            class="countryflag"/>
          <span class="heart far fa-heart" onclick="toggle(8,true)"></span
        ></a>
      </td>
      <td class="scoretn cl_95ffff" title="Master Boot Record">
        <a>
          <span class="forceWidth">
            Master Boot Record
          </span>
          <span class="univ forceWidth">
            Leiden University
          </span>
        </a>
      </td>
      <td class="scorenc">2</td>
      <td class="scorett">147</td>

      <td class="score_cell">
        <a>
          <div class="score_incorrect">
            &nbsp;
            <span>
              2 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            61
            <span>
              2 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_correct">
            66
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_incorrect">
            &nbsp;
            <span>
              2 tries
            </span>
          </div>
        </a>
      </td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell">
        <a>
          <div class="score_incorrect">
            &nbsp;
            <span>
              1 try
            </span>
          </div>
        </a>
      </td>
    </tr>

    <tr class="" id="team:43">
      <td class="scorepl">
        9
      </td>
      <td class="scoreaf">
        <span class="heart far fa-heart" onclick="toggle(9,true)"></span>
      </td>
      <td class="scoretn cl_95ffff" title="Rudy van Vliet">
        <a>
          <span class="forceWidth">
            Rudy van Vliet
          </span>
          <span class="univ forceWidth"> </span>
        </a>
      </td>
      <td class="scorenc">0</td>
      <td class="scorett">0</td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>

      <td class="score_cell"></td>
    </tr>

    <tr style="border-top: 2px solid black;">
      <td id="scoresummary" title="Summary" colspan="3">Summary</td>
      <td title="total solved" class="scorenc">
        55
      </td>
      <td></td>
      <td style="text-align: left;">
        <a>
          <i class="fas fa-thumbs-up fa-fw"></i>
          <span style="font-size:90%;" title="number of accepted submissions">
            7
          </span>
          <br />

          <i class="fas fa-thumbs-down fa-fw"></i>
          <span style="font-size:90%;" title="number of rejected submissions">
            6
          </span>
          <br />

          <i class="fas fa-question-circle fa-fw"></i>
          <span style="font-size:90%;" title="number of pending submissions">
            0
          </span>
          <br />

          <i class="fas fa-clock fa-fw"></i>
          <span style="font-size:90%;" title="first solved">
            19min
          </span>
        </a>
      </td>
      <td style="text-align: left;">
        <a>
          <i class="fas fa-thumbs-up fa-fw"></i>
          <span style="font-size:90%;" title="number of accepted submissions">
            6
          </span>
          <br />

          <i class="fas fa-thumbs-down fa-fw"></i>
          <span style="font-size:90%;" title="number of rejected submissions">
            8
          </span>
          <br />

          <i class="fas fa-question-circle fa-fw"></i>
          <span style="font-size:90%;" title="number of pending submissions">
            0
          </span>
          <br />

          <i class="fas fa-clock fa-fw"></i>
          <span style="font-size:90%;" title="first solved">
            48min
          </span>
        </a>
      </td>
      <td style="text-align: left;">
        <a>
          <i class="fas fa-thumbs-up fa-fw"></i>
          <span style="font-size:90%;" title="number of accepted submissions">
            2
          </span>
          <br />

          <i class="fas fa-thumbs-down fa-fw"></i>
          <span style="font-size:90%;" title="number of rejected submissions">
            5
          </span>
          <br />

          <i class="fas fa-question-circle fa-fw"></i>
          <span style="font-size:90%;" title="number of pending submissions">
            0
          </span>
          <br />

          <i class="fas fa-clock fa-fw"></i>
          <span style="font-size:90%;" title="first solved">
            202min
          </span>
        </a>
      </td>
      <td style="text-align: left;">
        <a>
          <i class="fas fa-thumbs-up fa-fw"></i>
          <span style="font-size:90%;" title="number of accepted submissions">
            7
          </span>
          <br />

          <i class="fas fa-thumbs-down fa-fw"></i>
          <span style="font-size:90%;" title="number of rejected submissions">
            7
          </span>
          <br />

          <i class="fas fa-question-circle fa-fw"></i>
          <span style="font-size:90%;" title="number of pending submissions">
            0
          </span>
          <br />

          <i class="fas fa-clock fa-fw"></i>
          <span style="font-size:90%;" title="first solved">
            59min
          </span>
        </a>
      </td>
      <td style="text-align: left;">
        <a>
          <i class="fas fa-thumbs-up fa-fw"></i>
          <span style="font-size:90%;" title="number of accepted submissions">
            2
          </span>
          <br />

          <i class="fas fa-thumbs-down fa-fw"></i>
          <span style="font-size:90%;" title="number of rejected submissions">
            2
          </span>
          <br />

          <i class="fas fa-question-circle fa-fw"></i>
          <span style="font-size:90%;" title="number of pending submissions">
            0
          </span>
          <br />

          <i class="fas fa-clock fa-fw"></i>
          <span style="font-size:90%;" title="first solved">
            79min
          </span>
        </a>
      </td>
      <td style="text-align: left;">
        <a>
          <i class="fas fa-thumbs-up fa-fw"></i>
          <span style="font-size:90%;" title="number of accepted submissions">
            6
          </span>
          <br />

          <i class="fas fa-thumbs-down fa-fw"></i>
          <span style="font-size:90%;" title="number of rejected submissions">
            12
          </span>
          <br />

          <i class="fas fa-question-circle fa-fw"></i>
          <span style="font-size:90%;" title="number of pending submissions">
            0
          </span>
          <br />

          <i class="fas fa-clock fa-fw"></i>
          <span style="font-size:90%;" title="first solved">
            30min
          </span>
        </a>
      </td>
      <td style="text-align: left;">
        <a>
          <i class="fas fa-thumbs-up fa-fw"></i>
          <span style="font-size:90%;" title="number of accepted submissions">
            8
          </span>
          <br />

          <i class="fas fa-thumbs-down fa-fw"></i>
          <span style="font-size:90%;" title="number of rejected submissions">
            0
          </span>
          <br />

          <i class="fas fa-question-circle fa-fw"></i>
          <span style="font-size:90%;" title="number of pending submissions">
            0
          </span>
          <br />

          <i class="fas fa-clock fa-fw"></i>
          <span style="font-size:90%;" title="first solved">
            6min
          </span>
        </a>
      </td>
      <td style="text-align: left;">
        <a>
          <i class="fas fa-thumbs-up fa-fw"></i>
          <span style="font-size:90%;" title="number of accepted submissions">
            4
          </span>
          <br />

          <i class="fas fa-thumbs-down fa-fw"></i>
          <span style="font-size:90%;" title="number of rejected submissions">
            8
          </span>
          <br />

          <i class="fas fa-question-circle fa-fw"></i>
          <span style="font-size:90%;" title="number of pending submissions">
            0
          </span>
          <br />

          <i class="fas fa-clock fa-fw"></i>
          <span style="font-size:90%;" title="first solved">
            123min
          </span>
        </a>
      </td>
      <td style="text-align: left;">
        <a>
          <i class="fas fa-thumbs-up fa-fw"></i>
          <span style="font-size:90%;" title="number of accepted submissions">
            6
          </span>
          <br />

          <i class="fas fa-thumbs-down fa-fw"></i>
          <span style="font-size:90%;" title="number of rejected submissions">
            4
          </span>
          <br />

          <i class="fas fa-question-circle fa-fw"></i>
          <span style="font-size:90%;" title="number of pending submissions">
            0
          </span>
          <br />

          <i class="fas fa-clock fa-fw"></i>
          <span style="font-size:90%;" title="first solved">
            12min
          </span>
        </a>
      </td>
      <td style="text-align: left;">
        <a>
          <i class="fas fa-thumbs-up fa-fw"></i>
          <span style="font-size:90%;" title="number of accepted submissions">
            2
          </span>
          <br />

          <i class="fas fa-thumbs-down fa-fw"></i>
          <span style="font-size:90%;" title="number of rejected submissions">
            0
          </span>
          <br />

          <i class="fas fa-question-circle fa-fw"></i>
          <span style="font-size:90%;" title="number of pending submissions">
            0
          </span>
          <br />

          <i class="fas fa-clock fa-fw"></i>
          <span style="font-size:90%;" title="first solved">
            214min
          </span>
        </a>
      </td>
      <td style="text-align: left;">
        <a>
          <i class="fas fa-thumbs-up fa-fw"></i>
          <span style="font-size:90%;" title="number of accepted submissions">
            2
          </span>
          <br />

          <i class="fas fa-thumbs-down fa-fw"></i>
          <span style="font-size:90%;" title="number of rejected submissions">
            4
          </span>
          <br />

          <i class="fas fa-question-circle fa-fw"></i>
          <span style="font-size:90%;" title="number of pending submissions">
            0
          </span>
          <br />

          <i class="fas fa-clock fa-fw"></i>
          <span style="font-size:90%;" title="first solved">
            102min
          </span>
        </a>
      </td>
      <td style="text-align: left;">
        <a>
          <i class="fas fa-thumbs-up fa-fw"></i>
          <span style="font-size:90%;" title="number of accepted submissions">
            3
          </span>
          <br />

          <i class="fas fa-thumbs-down fa-fw"></i>
          <span style="font-size:90%;" title="number of rejected submissions">
            10
          </span>
          <br />

          <i class="fas fa-question-circle fa-fw"></i>
          <span style="font-size:90%;" title="number of pending submissions">
            0
          </span>
          <br />

          <i class="fas fa-clock fa-fw"></i>
          <span style="font-size:90%;" title="first solved">
            155min
          </span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
