<div style="overflow-x: scroll;">
  <table class="scoreboard center ">
    <colgroup>
      <col id="scorerank" />
      <col id="scoreflags" />
      <col id="scoreteamname" />
    </colgroup>
    <colgroup>
      <col id="scoresolv" />
      <col id="scoretotal" />
    </colgroup>
    <colgroup>
      <col class="scoreprob" />
      <col class="scoreprob" />
      <col class="scoreprob" />
      <col class="scoreprob" />
      <col class="scoreprob" />
      <col class="scoreprob" />
      <col class="scoreprob" />
      <col class="scoreprob" />
      <col class="scoreprob" />
      <col class="scoreprob" />
      <col class="scoreprob" />
      <col class="scoreprob" />
    </colgroup>

    <thead>
      <tr class="scoreheader">
        <th title="rank" scope="col">rank</th>
        <th title="team name" scope="col" colspan="2">team</th>
        <th title="# solved / penalty time" colspan="2" scope="col">score</th>
        <th title="problem Architecture" scope="col">
          A
          <div class="circle" style="background: #ffee00;"></div>
        </th>
        <th title="problem Bracket Sequence" scope="col">
            B
            <div class="circle" style="background: #009614;"></div>
        </th>
        <th title="problem Canyon Crossings" scope="col">
            C
            <div class="circle" style="background: #3d1fff;"></div>
        </th>
        <th title="problem Deceptive Dice" scope="col">
            D
            <div class="circle" style="background: #59deff;"></div>
        </th>
        <th title="problem Exits in Excess" scope="col">
            E
            <div class="circle" style="background: #FFFFFF;"></div>
        </th>
        <th title="problem Floor Plan" scope="col">
            F
            <div class="circle" style="background: #FFFFFF;"></div>
        </th>
        <th title="problem Greetings!" scope="col">
            G
            <div class="circle" style="background: #f79ac0;"></div>
        </th>
        <th title="problem Hexagonal Rooks" scope="col">
            H
            <div class="circle" style="background: #00b8b8;"></div>
        </th>
        <th title="problem Inquiry I" scope="col">
            I
            <div class="circle" style="background: #ff9c2b;"></div>
        </th>
        <th title="problem Jumbled Journey" scope="col">
            J
            <div class="circle" style="background: #FFFFFF;"></div>
        </th>
        <th title="problem Knapsack Packing" scope="col">
            K
            <div class="circle" style="background: #ff0000;"></div>
        </th>
        <th title="problem Lifeguards" scope="col">
            L
            <div class="circle" style="background: #FFFFFF;"></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="sortorderswitch" id="team:11">
        <td class="scorepl">
          1
        </td>
        <td class="scoreaf">
          <a>
            <img
              src="/assets/img/NLD.png"
              alt="Netherlands"
              title="Netherlands"
              class="countryflag"/>
            <span class="heart far fa-heart" onclick="toggle(1,true)"></span
          ></a>
        </td>
        <td class="scoretn cl_FFFFFF" title="nUT a problem">
            <span class="forceWidth">
              nUT a problem
            </span>
            <span class="univ forceWidth">
              University of Twente
            </span>
        </td>
        <td class="scorenc">8</td>
        <td class="scorett">651</td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              66
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              54
              <span>
                4 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              31
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              82
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              5
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct score_first">
              104
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              19
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              190
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>
      </tr>

      <tr class="" id="team:5">
        <td class="scorepl">
          2
        </td>
        <td class="scoreaf">
          <a>
            <img
              src="/assets/img/NLD.png"
              alt="Netherlands"
              title="Netherlands"
              class="countryflag"/>
            <span class="heart far fa-heart" onclick="toggle(2,true)"></span
          ></a>
        </td>
        <td class="scoretn cl_FFFFFF" title="Trivial">
            <span class="forceWidth">
              Trivial
            </span>
            <span class="univ forceWidth">
              University of Twente
            </span>
        </td>
        <td class="scorenc">8</td>
        <td class="scorett">652</td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              106
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct score_first">
              28
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              79
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              87
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct score_first">
              5
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              193
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              15
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_correct score_first">
              119
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                3 tries
              </span>
            </div>
          </a>
        </td>
      </tr>

      <tr class="" id="team:12">
        <td class="scorepl">
          3
        </td>
        <td class="scoreaf">
          <a>
            <img
              src="/assets/img/NLD.png"
              alt="Netherlands"
              title="Netherlands"
              class="countryflag"/>
            <span class="heart far fa-heart" onclick="toggle(3,true)"></span
          ></a>
        </td>
        <td class="scoretn cl_FFFFFF" title="BetterBWordtNummerTwee">
            <span class="forceWidth">
              BetterBWordtNummerTwee
            </span>
            <span class="univ forceWidth">
              University of Twente
            </span>
        </td>
        <td class="scorenc">8</td>
        <td class="scorett">818</td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              76
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              88
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct score_first">
              198
              <span>
                3 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct score_first">
              21
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_correct score_first">
              62
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              25
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_correct score_first">
              12
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              256
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>
      </tr>

      <tr class="" id="team:9">
        <td class="scorepl">
          4
        </td>
        <td class="scoreaf">
          <a>
            <img
              src="/assets/img/NLD.png"
              alt="Netherlands"
              title="Netherlands"
              class="countryflag"/>
            <span class="heart far fa-heart" onclick="toggle(4,true)"></span
          ></a>
        </td>
        <td class="scoretn cl_FFFFFF" title="BetterBeatles">
            <span class="forceWidth">
              BetterBeatles
            </span>
            <span class="univ forceWidth">
              BetterBe
            </span>
        </td>
        <td class="scorenc">8</td>
        <td class="scorett">891</td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              141
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              50
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                3 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              47
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                5 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              8
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              114
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              44
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              203
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct score_first">
              244
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>
      </tr>

      <tr class="" id="team:10">
        <td class="scorepl">
          5
        </td>
        <td class="scoreaf">
          <a>
            <img
              src="/assets/img/NLD.png"
              alt="Netherlands"
              title="Netherlands"
              class="countryflag"/>
            <span class="heart far fa-heart" onclick="toggle(5,true)"></span
          ></a>
        </td>
        <td class="scoretn cl_FFFFFF" title="Dispuut Yorinf">
            <span class="forceWidth">
              Dispuut Yorinf
            </span>
            <span class="univ forceWidth">
              University of Twente
            </span>
        </td>
        <td class="scorenc">4</td>
        <td class="scorett">1049</td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              296
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              285
              <span>
                5 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                5 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                5 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              30
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              178
              <span>
                9 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>
      </tr>

      <tr class="" id="team:7">
        <td class="scorepl">
          6
        </td>
        <td class="scoreaf">
          <a>
            <img
              src="/assets/img/NLD.png"
              alt="Netherlands"
              title="Netherlands"
              class="countryflag"/>
            <span class="heart far fa-heart" onclick="toggle(6,true)"></span
          ></a>
        </td>
        <td class="scoretn cl_FFFFFF" title="FNM">
            <span class="forceWidth">
              FNM
            </span>
            <span class="univ forceWidth">
              University of Twente
            </span>
        </td>
        <td class="scorenc">3</td>
        <td class="scorett">326</td>

        <td class="score_cell">
          <a>
            <div class="score_correct score_first">
              53
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              124
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              129
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                6 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>
      </tr>

      <tr class="" id="team:3">
        <td class="scorepl">
          7
        </td>
        <td class="scoreaf">
          <a>
            <img
              src="/assets/img/NLD.png"
              alt="Netherlands"
              title="Netherlands"
              class="countryflag"/>
            <span class="heart far fa-heart" onclick="toggle(7,true)"></span
          ></a>
        </td>
        <td class="scoretn cl_FFFFFF" title="Lipsum">
            <span class="forceWidth">
              Lipsum
            </span>
            <span class="univ forceWidth">
              University of Twente
            </span>
        </td>
        <td class="scorenc">2</td>
        <td class="scorett">127</td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              14
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              73
              <span>
                3 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>
      </tr>

      <tr class="" id="team:4">
        <td class="scorepl">
          8
        </td>
        <td class="scoreaf">
          <a>
            <img
              src="/assets/img/NLD.png"
              alt="Netherlands"
              title="Netherlands"
              class="countryflag"/>
            <span class="heart far fa-heart" onclick="toggle(8,true)"></span
          ></a>
        </td>
        <td class="scoretn cl_FFFFFF" title="Relentles">
            <span class="forceWidth">
              Relentles
            </span>
            <span class="univ forceWidth">
              University of Twente
            </span>
        </td>
        <td class="scorenc">1</td>
        <td class="scorett">26</td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                10 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              26
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>
      </tr>

      <tr class="" id="team:6">
        <td class="scorepl">
          9
        </td>
        <td class="scoreaf">
          <a>
            <img
              src="/assets/img/NLD.png"
              alt="Netherlands"
              title="Netherlands"
              class="countryflag"/>
            <span class="heart far fa-heart" onclick="toggle(9,true)"></span
          ></a>
        </td>
        <td class="scoretn cl_FFFFFF" title="an[i] = me">
            <span class="forceWidth">
              an[i] = me
            </span>
            <span class="univ forceWidth">
              University of Twente
            </span>
        </td>
        <td class="scorenc">1</td>
        <td class="scorett">141</td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                7 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              81
              <span>
                4 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                4 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>
      </tr>

      <tr class="" id="team:8">
        <td class="scorepl">
          10
        </td>
        <td class="scoreaf">
          <a>
            <img
              src="/assets/img/NLD.png"
              alt="Netherlands"
              title="Netherlands"
              class="countryflag"/>
            <span class="heart far fa-heart" onclick="toggle(10,true)"></span
          ></a>
        </td>
        <td class="scoretn cl_FFFFFF" title="PACMEN">
            <span class="forceWidth">
              PACMEN
            </span>
            <span class="univ forceWidth">
              University of Twente
            </span>
        </td>
        <td class="scorenc">1</td>
        <td class="scorett">185</td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                1 try
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                3 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_incorrect">
              &nbsp;
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell">
          <a>
            <div class="score_correct">
              165
              <span>
                2 tries
              </span>
            </div>
          </a>
        </td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>

        <td class="score_cell"></td>
      </tr>

      <tr style="border-top: 2px solid black;">
        <td id="scoresummary" title="Summary" colspan="3">Summary</td>
        <td title="total solved" class="scorenc">
          44
        </td>
        <td></td>
        <td style="text-align: left;">
          <a>
            <i class="fas fa-thumbs-up fa-fw"></i>
            <span style="font-size:90%;" title="number of accepted submissions">
              6
            </span>
            <br />

            <i class="fas fa-thumbs-down fa-fw"></i>
            <span style="font-size:90%;" title="number of rejected submissions">
              3
            </span>
            <br />

            <i class="fas fa-question-circle fa-fw"></i>
            <span style="font-size:90%;" title="number of pending submissions">
              0
            </span>
            <br />

            <i class="fas fa-clock fa-fw"></i>
            <span style="font-size:90%;" title="first solved">
              53min
            </span>
          </a>
        </td>
        <td style="text-align: left;">
          <a>
            <i class="fas fa-thumbs-up fa-fw"></i>
            <span style="font-size:90%;" title="number of accepted submissions">
              5
            </span>
            <br />

            <i class="fas fa-thumbs-down fa-fw"></i>
            <span style="font-size:90%;" title="number of rejected submissions">
              13
            </span>
            <br />

            <i class="fas fa-question-circle fa-fw"></i>
            <span style="font-size:90%;" title="number of pending submissions">
              0
            </span>
            <br />

            <i class="fas fa-clock fa-fw"></i>
            <span style="font-size:90%;" title="first solved">
              28min
            </span>
          </a>
        </td>
        <td style="text-align: left;">
          <a>
            <i class="fas fa-thumbs-up fa-fw"></i>
            <span style="font-size:90%;" title="number of accepted submissions">
              1
            </span>
            <br />

            <i class="fas fa-thumbs-down fa-fw"></i>
            <span style="font-size:90%;" title="number of rejected submissions">
              6
            </span>
            <br />

            <i class="fas fa-question-circle fa-fw"></i>
            <span style="font-size:90%;" title="number of pending submissions">
              0
            </span>
            <br />

            <i class="fas fa-clock fa-fw"></i>
            <span style="font-size:90%;" title="first solved">
              198min
            </span>
          </a>
        </td>
        <td style="text-align: left;">
          <a>
            <i class="fas fa-thumbs-up fa-fw"></i>
            <span style="font-size:90%;" title="number of accepted submissions">
              4
            </span>
            <br />

            <i class="fas fa-thumbs-down fa-fw"></i>
            <span style="font-size:90%;" title="number of rejected submissions">
              5
            </span>
            <br />

            <i class="fas fa-question-circle fa-fw"></i>
            <span style="font-size:90%;" title="number of pending submissions">
              0
            </span>
            <br />

            <i class="fas fa-clock fa-fw"></i>
            <span style="font-size:90%;" title="first solved">
              21min
            </span>
          </a>
        </td>
        <td style="text-align: left;">
          <a>
            <i class="fas fa-thumbs-up fa-fw"></i>
            <span style="font-size:90%;" title="number of accepted submissions">
              0
            </span>
            <br />

            <i class="fas fa-thumbs-down fa-fw"></i>
            <span style="font-size:90%;" title="number of rejected submissions">
              6
            </span>
            <br />

            <i class="fas fa-question-circle fa-fw"></i>
            <span style="font-size:90%;" title="number of pending submissions">
              0
            </span>
            <br />

            <i class="fas fa-clock fa-fw"></i>
            <span style="font-size:90%;" title="first solved">
              n/a
            </span>
          </a>
        </td>
        <td style="text-align: left;">
          <a>
            <i class="fas fa-thumbs-up fa-fw"></i>
            <span style="font-size:90%;" title="number of accepted submissions">
              4
            </span>
            <br />

            <i class="fas fa-thumbs-down fa-fw"></i>
            <span style="font-size:90%;" title="number of rejected submissions">
              32
            </span>
            <br />

            <i class="fas fa-question-circle fa-fw"></i>
            <span style="font-size:90%;" title="number of pending submissions">
              0
            </span>
            <br />

            <i class="fas fa-clock fa-fw"></i>
            <span style="font-size:90%;" title="first solved">
              62min
            </span>
          </a>
        </td>
        <td style="text-align: left;">
          <a>
            <i class="fas fa-thumbs-up fa-fw"></i>
            <span style="font-size:90%;" title="number of accepted submissions">
              10
            </span>
            <br />

            <i class="fas fa-thumbs-down fa-fw"></i>
            <span style="font-size:90%;" title="number of rejected submissions">
              4
            </span>
            <br />

            <i class="fas fa-question-circle fa-fw"></i>
            <span style="font-size:90%;" title="number of pending submissions">
              0
            </span>
            <br />

            <i class="fas fa-clock fa-fw"></i>
            <span style="font-size:90%;" title="first solved">
              5min
            </span>
          </a>
        </td>
        <td style="text-align: left;">
          <a>
            <i class="fas fa-thumbs-up fa-fw"></i>
            <span style="font-size:90%;" title="number of accepted submissions">
              3
            </span>
            <br />

            <i class="fas fa-thumbs-down fa-fw"></i>
            <span style="font-size:90%;" title="number of rejected submissions">
              1
            </span>
            <br />

            <i class="fas fa-question-circle fa-fw"></i>
            <span style="font-size:90%;" title="number of pending submissions">
              0
            </span>
            <br />

            <i class="fas fa-clock fa-fw"></i>
            <span style="font-size:90%;" title="first solved">
              104min
            </span>
          </a>
        </td>
        <td style="text-align: left;">
          <a>
            <i class="fas fa-thumbs-up fa-fw"></i>
            <span style="font-size:90%;" title="number of accepted submissions">
              6
            </span>
            <br />

            <i class="fas fa-thumbs-down fa-fw"></i>
            <span style="font-size:90%;" title="number of rejected submissions">
              22
            </span>
            <br />

            <i class="fas fa-question-circle fa-fw"></i>
            <span style="font-size:90%;" title="number of pending submissions">
              0
            </span>
            <br />

            <i class="fas fa-clock fa-fw"></i>
            <span style="font-size:90%;" title="first solved">
              12min
            </span>
          </a>
        </td>
        <td style="text-align: left;">
          <a>
            <i class="fas fa-thumbs-up fa-fw"></i>
            <span style="font-size:90%;" title="number of accepted submissions">
              0
            </span>
            <br />

            <i class="fas fa-thumbs-down fa-fw"></i>
            <span style="font-size:90%;" title="number of rejected submissions">
              2
            </span>
            <br />

            <i class="fas fa-question-circle fa-fw"></i>
            <span style="font-size:90%;" title="number of pending submissions">
              0
            </span>
            <br />

            <i class="fas fa-clock fa-fw"></i>
            <span style="font-size:90%;" title="first solved">
              n/a
            </span>
          </a>
        </td>
        <td style="text-align: left;">
          <a>
            <i class="fas fa-thumbs-up fa-fw"></i>
            <span style="font-size:90%;" title="number of accepted submissions">
              4
            </span>
            <br />

            <i class="fas fa-thumbs-down fa-fw"></i>
            <span style="font-size:90%;" title="number of rejected submissions">
              3
            </span>
            <br />

            <i class="fas fa-question-circle fa-fw"></i>
            <span style="font-size:90%;" title="number of pending submissions">
              0
            </span>
            <br />

            <i class="fas fa-clock fa-fw"></i>
            <span style="font-size:90%;" title="first solved">
              119min
            </span>
          </a>
        </td>
        <td style="text-align: left;">
          <a>
            <i class="fas fa-thumbs-up fa-fw"></i>
            <span style="font-size:90%;" title="number of accepted submissions">
              1
            </span>
            <br />

            <i class="fas fa-thumbs-down fa-fw"></i>
            <span style="font-size:90%;" title="number of rejected submissions">
              3
            </span>
            <br />

            <i class="fas fa-question-circle fa-fw"></i>
            <span style="font-size:90%;" title="number of pending submissions">
              0
            </span>
            <br />

            <i class="fas fa-clock fa-fw"></i>
            <span style="font-size:90%;" title="first solved">
              244min
            </span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
